@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <div class="col-md-10">
            <h2 class="text-left">Information about LINE Authenticaion</h2>
            <hr />
            <ul class="text-left" style="overflow-wrap: break-word;">
                <li>IsAuthenticated : @Model.IsAuthenticated.ToString()</li>
                <li>AccessToken : @Model.AccessToken </li>
                <li>ProviderID: @Model.ProviderID</li>
                <li>ProviderKey : @Model.ProviderKey</li>
                <li>UserID : @Model.UserID</li>
                <li>EMail : @Model.Email</li>
                <li>ReturnUrl : @Model.ReturnUrl</li>
            </ul>
        </div>

    </div>
